<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Menú 1 en el lado izquierdo -->
      <ion-buttons slot="start" >
        <ion-menu-button (click)="abrirMenuIzquierdo()" auto-hide="false"></ion-menu-button>
        <div class="logotipo_toolbar">
          <ion-img src="assets/imagenes/logotipo.png" alt="Logo SeekerMedical"></ion-img>
        </div>
      </ion-buttons>
      <ion-title class="ion-hide">ventana-medico</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="contenido_fondo">
    <ion-row>
      <ion-col>
        <!-- Operador de navegación segura Angular ( ?.) en su plantilla para evitar errores al intentar acceder a las propiedades de un objeto -->
        <p class="msg_bienvenida titulo_paginas">Bienvenido, {{ medico?.medNombres }} {{ medico?.medApellidos }}</p>
        <p class="ion-text-center">Accede rápidamente a las principales opciones del sistema:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="margen_item">
        <ion-item button class="item_color" lines="none" (click)="goGestionarPerfil()">
          <ion-img class="img_opciones" src="assets/imagenes/gestiona_perfil.png" alt="Gestionar perfil de usuario"></ion-img>
          <p class="ion-text-start">Gestionar mi perfil de usuario</p>
        </ion-item>
        <ion-item button class="item_color" lines="none" (click)="goResetearClave()">
          <ion-img class="img_opciones" src="assets/imagenes/reset_clave.png" alt="Resetear clave de ingreso"></ion-img>
          <p class="ion-text-start">Resetear mi clave de ingreso</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Referencias de íconos: <a href="https://www.flaticon.es/iconos-gratis/candidato" title="candidato iconos">Candidato iconos creados por Soodesign - Flaticon</a> -->
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col class="ion-text-start">
          <ion-nav-link class="regresar" (click)="alertaConfirmarSalida()"><ion-icon name="chevron-back-outline"></ion-icon>Regresar</ion-nav-link>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-nav-link class="salir" (click)="alertaConfirmarSalida()">Salir<ion-icon name="exit-outline"></ion-icon></ion-nav-link>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</div>

<!-- Despliegue de las opciones del menú -->
<ion-menu menuId="menuIzquierdo" side="start" contentId="main-content">
  <ion-header class="ion-hide">
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="contenido_fondo">
    <ion-avatar class="avatar_usuario_menu">
      <ion-img class="img_usuario" [src]="medico?.medFotografiaURL" alt="Foto del médico"></ion-img>
    </ion-avatar>
    <p class="msg_bienvenida titulo_paginas ion-text-center">{{ medico?.medNombres }} {{ medico?.medNombres }}</p>
    <ion-list>
      <ion-item button lines="none" (click)="goGestionarPerfil()">
        <ion-img class="img_menu" src="assets/imagenes/gestiona_perfil.png" alt="Gestionar perfil de usuario"></ion-img>
        <p class="ion-text-start">Gestionar mi perfil de usuario</p>
      </ion-item>
      <ion-item button lines="none" (click)="goResetearClave()">
        <ion-img class="img_menu" src="assets/imagenes/reset_clave.png" alt="Resetear clave de ingreso"></ion-img>
        <p class="ion-text-start">Resetear mi clave de ingreso</p>
      </ion-item>
      <ion-item button lines="none" (click)="alertaConfirmarSalida()">
        <ion-img class="img_menu" src="assets/imagenes/salir.png" alt="Salir"></ion-img>
        <p class="ion-text-start">Salir</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>