/* Imagenes */
.tipo_usuario{
    max-width:25%;
    margin: 10pt auto 0 auto;
  }
   
/* Texto */
.texto_margen_corto{
    margin: 10pt 0;
}
  
/* Navegacion */
.tlink{
    font-family: 'Montserrat-SemiBold',Helvetica;
    color:var(--sec-bg-color);
}
  
/* Estructura */
.espaciado_top{
    margin-top:15pt;
}