<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Menú 1 en el lado izquierdo -->
      <ion-buttons slot="start" >
        <ion-menu-button (click)="abrirMenuIzquierdo()" auto-hide="false"></ion-menu-button>
        <div class="logotipo_toolbar">
          <ion-img src="assets/imagenes/logotipo.png" alt="Logo SeekerMedical"></ion-img>
        </div>
      </ion-buttons>
      <ion-title class="ion-hide">resetear-clave-medico</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="contenido_fondo">
    <ion-row>
      <ion-col size="4">
        <ion-img class="img_resetearClave" src="assets/imagenes/reset_clave.png" alt="Resetear clave de ingreso"></ion-img>
      </ion-col>
      <ion-col size="5" class="text-left">
        <h2 class="titulo_paginas">Resetear mi clave de ingreso</h2>
      </ion-col>
    </ion-row>
    <ion-item lines="full">
      <ion-label position="floating" color="dark">Clave de acceso actual (*) </ion-label>
      <ion-input [(ngModel)]="claveActual" name="claveActual" type="password" autofocus="on" clearInput="true" clearOnEdit="true" color="dark" inputmode="text" placeholder="xxxxxx" required="true" (ionBlur)="validarClave()"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating" color="dark">Nueva clave de acceso (*) </ion-label>
      <ion-input [(ngModel)]="nuevaClave" name="nuevaClave" type="password" autofocus="on" clearInput="true" clearOnEdit="true" color="dark" inputmode="text" placeholder="xxxxxx" required="true" (ionBlur)="validarClave()"></ion-input>
    </ion-item>
    <div *ngIf="claveInvalido">
      <p style="color: red">La clave es muy corta, debe tener mínimo 8 caracteres</p> 
    </div>
    <ion-item lines="full">
      <ion-label position="floating" color="dark">Confirma tu clave (*)</ion-label>
      <ion-input [(ngModel)]="confirmarClave" name="confirmarClave" type="password" autofocus="on" clearInput="true" clearOnEdit="true" color="dark" inputmode="text" placeholder="xxxxxx" required="true" (ionBlur)="compararClaves()"></ion-input>
    </ion-item>
    <!-- Texto de alerta cuando las claves sean diferentes -->
    <div *ngIf="clavesDifieren">
      <p style="color: red">Las contraseñas no coinciden</p>
    </div>
    <ion-button type="button" (click)="actualizarClave()" color="secondary" expand="block" shape="round" size="large">Modificar clave</ion-button>
    <!-- Referencias de íconos: <a href="https://www.flaticon.es/iconos-gratis/candidato" title="candidato iconos">Candidato iconos creados por Soodesign - Flaticon</a> -->
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col class="ion-text-start">
          <ion-nav-link class="regresar" (click)="goVentanaMedico()"><ion-icon name="chevron-back-outline"></ion-icon>Regresar</ion-nav-link>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-nav-link class="salir" (click)="alertaConfirmarSalida()">Salir<ion-icon name="exit-outline"></ion-icon></ion-nav-link>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</div>

<!-- Despliegue de las opciones del menú -->
<ion-menu menuId="menuIzquierdo" side="start" contentId="main-content">
  <ion-header class="ion-hide">
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="contenido_fondo">
    <ion-avatar class="avatar_usuario_menu">
      <ion-img class="img_usuario" [src]="medico?.medFotografiaURL" alt="Foto del médico"></ion-img>
    </ion-avatar>
    <p class="msg_bienvenida titulo_paginas ion-text-center">{{ medico?.medNombres }} {{ medico?.medApellidos }}</p>
    <ion-list>
      <ion-item button lines="none" (click)="goGestionarPerfil()">
        <ion-img class="img_menu" src="assets/imagenes/gestiona_perfil.png" alt="Gestionar perfil de usuario"></ion-img>
        <p class="ion-text-start">Gestionar mi perfil de usuario</p>
      </ion-item>
      <ion-item button lines="none" (click)="goResetearClave()">
        <ion-img class="img_menu" src="assets/imagenes/reset_clave.png" alt="Resetear clave de ingreso"></ion-img>
        <p class="ion-text-start">Resetear mi clave de ingreso</p>
      </ion-item>
      <ion-item button lines="none" (click)="goSalir()">
        <ion-img class="img_menu" src="assets/imagenes/salir.png" alt="Salir"></ion-img>
        <p class="ion-text-start">Salir</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>