<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Menú 1 en el lado izquierdo -->
      <ion-buttons slot="start">
        <ion-menu-button aria-label="Abrir menú izquierdo" (click)="abrirMenuIzquierdo()" auto-hide="false"></ion-menu-button>
        <div class="logotipo_toolbar">
          <ion-img src="assets/imagenes/logotipo.png" alt="Logo Seeker Medical"></ion-img>
        </div>
      </ion-buttons>
      <ion-title class="ion-hide">informacion-medico</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="contenido_fondo">
    <ion-item lines="none"> 
      <ion-list class="transparencia_ion_list_inf" role="list" aria-label="Información del médico">
        <ion-row>
          <ion-col size="4">
            <ion-avatar>
              <ion-img class="img_usuario_inf" [src]="medico.medFotografiaURL" alt="Foto del médico"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col>
            <h2 class="nombre_medico">{{ medico.medDenominacion }} {{ medico.medNombres }} {{ medico.medApellidos }}</h2>
            <ion-row>
              <ion-col *ngFor="let especialidad of medico.espMedMedicos">
                <p *ngIf="especialidad.emDescripcion" class="texto_cursiva_izquierda">{{ especialidad.emDescripcion }}</p>
              </ion-col>
              <ion-col *ngIf="ubicacionActivada">
                <p class="texto_derecha" *ngIf="medico.distanciaDesdeUsuario?.valor && medico.distanciaDesdeUsuario?.unidad">
                  <ion-img class="img_distancia" src="assets/imagenes/distancia.png" alt="Distancia"></ion-img>
                  {{ medico.distanciaDesdeUsuario.valor | number: '1.2-2' }} {{ medico.distanciaDesdeUsuario.unidad }}
                </p>
              </ion-col>                           
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><b>Experiencia profesional</b></p>
            <p>{{ medico.medDescripcionPro }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><b>Características del servicio</b></p>
            <p>{{ medico.caracteristicasServicio }}</p>
            <ion-row>
              <ion-col [class.opaque]="!medico.medTagD">
                <ion-img class="img_servicio" src="assets/imagenes/atencion_domicilio.png" alt="Atención a domicilio"></ion-img>
                <p>Atención a domicilio</p>
              </ion-col>
              <ion-col [class.opaque]="!medico.medTagE">
                <ion-img class="img_servicio" src="assets/imagenes/enfermeria.png" alt="Servicio de enfermería"></ion-img>
                <p>Servicios de enfermería</p>
              </ion-col>
              <ion-col [class.opaque]="!medico.medTagM">
                <ion-img class="img_servicio" src="assets/imagenes/medicacion.png" alt="Farmacia/Medicación"></ion-img>
                <p>Farmacia / Medicación</p>
              </ion-col>
              <ion-col [class.opaque]="!medico.medTag247">
                <ion-img class="img_servicio" src="assets/imagenes/servicio_247.png" alt="Servicio 24/7"></ion-img>
                <p>Servicios médicos 24/7</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <p><b>Información de contacto</b></p>
        <ion-row>
          <ion-col *ngIf="medico.medTelefonoCon">
            <p class="texto_cursiva_izquierda">Teléfono fijo</p>
            <p>{{ medico.medTelefonoCon }}</p>
            <ion-button class="ion_button_telefono" type="button" color="primary" shape="round" fill="outline" size="small"><ion-icon name="call" color="primary" size="small"></ion-icon><p style="color: var(--ion-color-primary);" aria-label="Llamar al médico al teléfono convencional" (click)="llamarMedicoCon(medico.medTelefonoCon)">Llamar</p></ion-button>
          </ion-col>
          <ion-col>
            <p class="texto_cursiva_izquierda">Teléfono móvil</p>
            <p>{{ medico.medTelefonoMov }}</p>
            <ion-button class="ion_button_telefono" type="button" color="primary" shape="round" fill="outline" size="small"><ion-icon name="call" color="primary" size="small"></ion-icon><p style="color: var(--ion-color-primary);" aria-label="Llamar al médico al celular" (click)="llamarMedicoMov(medico.medTelefonoMov)">Llamar</p></ion-button>
          </ion-col>
          <ion-col *ngIf="medico && medico.medTagW">
            <p class="texto_cursiva_izquierda">Whatsapp</p>
            <p>{{ medico.medTelefonoMov }}</p>
            <ion-button class="ion_button_telefono" type="button" color="success" shape="round" fill="outline" size="small" aria-label="Abrir Whatsapp" (click)="abrirWhatsApp()">
              <ion-icon name="logo-whatsapp" color="success" size="small"></ion-icon>
              <p style="color: var(--ion-color-success);">Chatear</p>
            </ion-button>
          </ion-col>
        </ion-row>
        <p><b>Información de ubicación</b></p>
        <ion-row>
          <ion-col size="3" class="centrar-vertical">
            <p class="texto_cursiva_izquierda">Horarios de atención</p>
          </ion-col>    
          <ion-col *ngIf="medico.horariosAtencion && medico.horariosAtencion.length > 0">
            <div *ngFor="let horario of medico.horariosAtencion">
              <!-- Agregado: Mostrar p solo si hay diaDescripcion -->            
              <p class="horario1" *ngIf="horario.diaDescripcion">{{ horario.diaDescripcion ? '' + horario.diaDescripcion : '' }}</p>
              <p class="horario2" *ngIf="horario.hm1Inicio || horario.hm1Fin">{{ horario.hm1Inicio ? '' + horario.hm1Inicio : '' }} {{ horario.hm1Fin ? ' a ' + horario.hm1Fin : '' }}</p>
              <p class="horario3" *ngIf="horario.hm2Inicio || horario.hm2Fin">{{ horario.hm2Inicio ? '- ' + horario.hm2Inicio : '' }} {{ horario.hm2Fin ? ' a ' + horario.hm2Fin : '' }}</p>                   
              <br *ngIf="horario.diaDescripcion">
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" class="centrar-vertical">
            <p class="texto_cursiva_izquierda">Dirección</p>
          </ion-col>    
          <ion-col>
            <p>Calles: {{ medico.medDireccionCalles }}</p>
            <p>Edificio/piso: {{ medico.medDireccionCom}}</p>
            <p *ngIf="medico.medDireccionRef">Referencia: {{ medico.medDireccionRef}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="ion_button_telefono" type="button" [color]="estaAbierto(medico) ? 'success' : 'danger'" shape="round" fill="outline" size="small" aria-label="Disponibilidad abierto o cerrado">
              <p [style.color]="estaAbierto(medico) ? 'var(--ion-color-success)' : 'var(--ion-color-danger)'">
                {{ estaAbierto(medico) ? 'Abierto' : 'Cerrado' }}
              </p>
            </ion-button>
          </ion-col>    
          <ion-col>
            <ion-button class="ion_button_telefono" type="button" color="primary" shape="round" fill="outline" size="small" aria-label="Abrir Google Maps" (click)="abrirGoogleMaps(medico.medUbicacionLat, medico.medUbicacionLon)">
              <ion-icon name="location-outline" color="primary" size="small"></ion-icon>
              <p style="color: var(--ion-color-primary);">Ir a la ubicación</p>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-item>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col class="ion-text-start">
          <ion-nav-link class="regresar" (click)="goListadoMedico()"><ion-icon name="chevron-back-outline"></ion-icon>  Regresar</ion-nav-link>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-nav-link class="salir" (click)="alertaConfirmarSalida()">Salir  <ion-icon name="exit-outline"></ion-icon></ion-nav-link>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</div>

<!-- Despliegue de las opciones del menú -->
<ion-menu menuId="menuIzquierdo" side="start" contentId="main-content">
  <ion-header class="ion-hide">
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="contenido_fondo">
    <ion-avatar class="avatar_usuario_menu">
      <ion-img class="img_usuario" [src]="paciente?.pacFotografiaURL" alt="Foto del paciente"></ion-img>
    </ion-avatar>
    <p class="msg_bienvenida titulo_paginas ion-text-center">{{ paciente?.pacNombres }} {{ paciente?.pacApellidos }}</p>
    <ion-list>
      <ion-item button id="popover_menu_farmacia" lines="none">
        <ion-img class="img_menu" src="assets/imagenes/busca_farmacia.png" alt="Buscar farmacia"></ion-img>
        <p class="ion-text-start">Buscar farmacias</p>
      </ion-item>
      <!-- Despliegue del ion-popover para buscar farmacias -->
      <!-- dismissOnSelect es una propiedad para cerrar automáticamente la ventana emergente cuando se hace clic en su contenido -->
      <ion-popover trigger="popover_menu_farmacia" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <h2 class="msg_bienvenida titulo_paginas ion-text-center">¿Cómo deseas realizar la búsqueda?</h2>
            <ion-list>
              <ion-item button (click)="goBuscarFarmaciaListado()">
                <ion-img class="img_busqueda" src="assets/imagenes/busqueda_listado.png" alt="Búsqueda mediante un listado"></ion-img>
                <p class="ion-text-start">Mediante un listado</p>
              </ion-item>
              <ion-item button (click)="goBuscarFarmaciaMapa()">
                <ion-img class="img_busqueda" src="assets/imagenes/busqueda_mapa.png" alt="Búsqueda mediante un mapa"></ion-img>
                <p class="ion-text-start">Mediante un mapa</p>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-item button id="popover_menu_medico" lines="none">
        <ion-img class="img_menu" src="assets/imagenes/busca_medico.png" alt="Buscar medico"></ion-img>
        <p class="ion-text-start">Buscar médicos</p>
      </ion-item>
      <!-- Despliegue del ion-popover para buscar médicos -->
      <!-- dismissOnSelect es una propiedad para cerrar automáticamente la ventana emergente cuando se hace clic en su contenido -->
      <ion-popover trigger="popover_menu_medico" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <h2 class="msg_bienvenida titulo_paginas ion-text-center">¿Cómo deseas realizar la búsqueda?</h2>
            <ion-list>
              <ion-item button (click)="goBuscarMedicoListado()">
                <ion-img class="img_busqueda" src="assets/imagenes/busqueda_listado.png" alt="Búsqueda mediante listado"></ion-img>
                <p class="ion-text-start">Mediante un listado</p>
              </ion-item>
              <ion-item button (click)="goBuscarMedicoMapa()">
                <ion-img class="img_busqueda" src="assets/imagenes/busqueda_mapa.png" alt="Búsqueda mediante mapa"></ion-img>
                <p class="ion-text-start">Mediante un mapa</p>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-item button lines="none" (click)="goGestionarPerfil()">
        <ion-img class="img_menu" src="assets/imagenes/gestiona_perfil.png" alt="Gestionar perfil de usuario"></ion-img>
        <p class="ion-text-start">Gestionar mi perfil de usuario</p>
      </ion-item>
      <ion-item button lines="none" (click)="goResetearClave()">
        <ion-img class="img_menu" src="assets/imagenes/reset_clave.png" alt="Resetear clave de ingreso"></ion-img>
        <p class="ion-text-start">Resetear mi clave de ingreso</p>
      </ion-item>
      <ion-item button lines="none" (click)="alertaConfirmarSalida()">
        <ion-img class="img_menu" src="assets/imagenes/salir.png" alt="Salir"></ion-img>
        <p class="ion-text-start">Salir</p>
      </ion-item>
      <ion-header class="ion-hide">
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="contenido_fondo">
        <ion-avatar class="avatar_usuario_menu">
          <ion-img class="img_usuario" [src]="paciente?.pacFotografiaURL" alt="Foto del paciente"></ion-img>
        </ion-avatar>
        <p class="msg_bienvenida titulo_paginas ion-text-center">{{ paciente?.pacNombres }} {{ paciente?.pacApellidos }}</p>
        <ion-list>
          <ion-item button id="popover_menu_farmacia" lines="none">
            <ion-img class="img_menu" src="assets/imagenes/busca_farmacia.png" alt="Buscar farmacia"></ion-img>
            <p class="ion-text-start">Buscar farmacias</p>
          </ion-item>
          <!-- Despliegue del ion-popover para buscar farmacias -->
          <!-- dismissOnSelect es una propiedad para cerrar automáticamente la ventana emergente cuando se hace clic en su contenido -->
          <ion-popover trigger="popover_menu_farmacia" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <h2 class="msg_bienvenida titulo_paginas ion-text-center">¿Cómo deseas realizar la búsqueda?</h2>
                <ion-list>
                  <ion-item button (click)="goBuscarFarmaciaListado()">
                    <ion-img class="img_busqueda" src="assets/imagenes/busqueda_listado.png" alt="Búsqueda mediante un listado"></ion-img>
                    <p class="ion-text-start">Mediante un listado</p>
                  </ion-item>
                  <ion-item button (click)="goBuscarFarmaciaMapa()">
                    <ion-img class="img_busqueda" src="assets/imagenes/busqueda_mapa.png" alt="Búsqueda mediante un mapa"></ion-img>
                    <p class="ion-text-start">Mediante un mapa</p>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
          <ion-item button id="popover_menu_medico" lines="none">
            <ion-img class="img_menu" src="assets/imagenes/busca_medico.png" alt="Buscar medico"></ion-img>
            <p class="ion-text-start">Buscar médicos</p>
          </ion-item>
          <!-- Despliegue del ion-popover para buscar médicos -->
          <!-- dismissOnSelect es una propiedad para cerrar automáticamente la ventana emergente cuando se hace clic en su contenido -->
          <ion-popover trigger="popover_menu_medico" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <h2 class="msg_bienvenida titulo_paginas ion-text-center">¿Cómo deseas realizar la búsqueda?</h2>
                <ion-list>
                  <ion-item button (click)="goBuscarMedicoListado()">
                    <ion-img class="img_busqueda" src="assets/imagenes/busqueda_listado.png" alt="Búsqueda mediante listado"></ion-img>
                    <p class="ion-text-start">Mediante un listado</p>
                  </ion-item>
                  <ion-item button (click)="goBuscarMedicoMapa()">
                    <ion-img class="img_busqueda" src="assets/imagenes/busqueda_mapa.png" alt="Búsqueda mediante mapa"></ion-img>
                    <p class="ion-text-start">Mediante un mapa</p>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
          <ion-item button lines="none" (click)="goGestionarPerfil()">
            <ion-img class="img_menu" src="assets/imagenes/gestiona_perfil.png" alt="Gestionar perfil de usuario"></ion-img>
            <p class="ion-text-start">Gestionar mi perfil de usuario</p>
          </ion-item>
          <ion-item button lines="none" (click)="goResetearClave()">
            <ion-img class="img_menu" src="assets/imagenes/reset_clave.png" alt="Resetear clave de ingreso"></ion-img>
            <p class="ion-text-start">Resetear mi clave de ingreso</p>
          </ion-item>
          <ion-item button lines="none" (click)="alertaConfirmarSalida()">
            <ion-img class="img_menu" src="assets/imagenes/salir.png" alt="Salir"></ion-img>
            <p class="ion-text-start">Salir</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-list>
  </ion-content>
</ion-menu>